{% extends 'base.html'%}

{% load static %}
{% load bootstrap3 %}

 {% block content %}

 {% block styles %}
   {% bootstrap_css %}
     <link rel="stylesheet" href="{% static 'css/phots.css' %}">
   {% endblock %}

 <div class = "col-md-5">
   <div class = "card">
      <img src="{{photo.image.url}}"  class="img-responsive" alt="">

 		<div class = "lower_part">
 				<div class = "content">

               <div class="row">
                 <a href="#" class="btn btn-default ">Copy Image link  &nbsp<i class="glyphicon glyphicon-paperclip"></i>
                   </a>
               </div>


   <div class="row">
     <h1 class="text-center">location:   {{photo.location_taken}}</h1>
   </div>

   <div class="row">
   <h1 class="text-center">photo name:   {{photo.image_name}}</h1>
 </div>

   <div class="row">
     <h1  class="text-center"> time posted:  {{photo.pub_date|timesince}}</h1>
   </div>



   <a  href="/"	<button type="button" name="button" class="btn btn-danger"> back to home</button></a>

</div>
</div>
 </div>
</div>
 {% endblock %}
