{%extends 'base.html'%}
{% block content %}
{%load static%}
{%load bootstrap3%}

{% block styles %}
  {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
  {% endblock %}
<div class="container">

  {% if photos %}
    {% for photo in photos %}

  <div class = "col-md-5">
    <div class = "card">

     <img src="{{photo.image.url}}"  class="img-responsive" alt="">
     <div class = "lower_part">
         <div class = "content">
           <h1  class="text-center">{{photo.image_name}}</h1>

<hr>


    <div class="row">
      <h1 class="text-center">location:  {{photo.location_taken}}</h1>
      <hr>
      <a  href="{% url 'singlePhoto' photos_item.id %}"	<button type="button" name="button" class="btn btn-danger"> view image</button></a>

    </div>
  </div>
</div>

    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
