<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-inverse"style="background-color:white;">

  <div class="container-fluid">

    <div class="navbar-header"style="-webkit-box-align: center;
    align-items: center; position:relative; display: inline-flex;">

      <a class="navbar-brand"style="color:black;" href="{% url 'picturesToday' %}">my gallery</a>

    </div>
    <div class="col-sm-4 col-md-4 navbar-right" style="-webkit-box-align: center;
    align-items: center; position:relative; display: inline-flex;">


<button type="button" class="btn btn-danger"style"justify-cotent:center;" onclick="alert('sorry we are down for now we will be back shortly')">login</button>
      </div>



  </div>
</nav>
</body>
